{% extends 'base.html.twig' %}

{% block title %}New Billet{% endblock %}

{% block body %}
    <h1>Create new Billet</h1>

    {{ include('adminbillet/_form.html.twig') }}

    <a href="{{ path('app_adminbillet_index') }}">back to list</a>
{% endblock %}
