{% extends 'base.html.twig' %}

{% block title %}Edit Magasin{% endblock %}

{% block body %}
    <h1>Edit Magasin</h1>

    {{ include('adminmagasin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adminmagasin_index') }}">back to list</a>

    {{ include('adminmagasin/_delete_form.html.twig') }}
{% endblock %}
